---
---

body {
    background-color: #EAE9E5;
}

header {

    div.top-banners {
        width: 100%;
        height: 158px;
        div.title-banner {
            background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/body_back.png");
            background-repeat: repeat-x;
            background-color: transparent;
            width: 100%;
            height: 158px;
            position: absolute;
            top: 0px;

            div.title-banner-img {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/header_back.jpg");
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: right top;
                position: absolute;
                top: 0px;
                height: 152px;
                margin-top: 6px;
                width: 100%;
            }
        }
    }
    div.nav-banner {
        width: 100%;
        background-color: #262626;
        margin-bottom: 20px;
    }

    div.top-banner-content {
      margin-top: 12px;

      h2#site-slogan {
         color: #FFF;
      }

      h1#site-title {
        color: #DAA406;
      }
    }

    nav.navbar {
        background: transparent;
        margin-bottom: 0px;
        min-height: 40px;

        .navbar-toggle {
            border-color: #79C7E7;
            margin-top: 4px;
            margin-bottom: 4px;
            padding-top: 8px;
            padding-bottom: 8px;
            .icon-bar {
                background-color: #79C7E7;
            }
        }

        ul.navbar-nav {
            li >a {
                color: #79C7E7;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            li.active a {
                color: #FFF;
                outline: none;
            }
            li {
                a:focus, a:hover {
                    color: #FFF;
                    background-color: transparent;
                }
            }

        }

        form.navbar-form {
            margin-top: 4px;
            margin-bottom: 4px;
        }
        input.form-control {
            height: 32px;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        button.btn {
            height: 32px;
            padding-top: 4px;
            padding-bottom: 4px;
        }

    }

}

footer {
  div.footer {
    background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/footer_back.jpg");
    color: #696760;
    font-size: 9.6px;
    padding-top: 4px;
    min-height: 50px;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #C0C0C0;
    p {
        margin-top: 4px;
        margin-bottom: 4px;
    }
  }
}


div.section {
    background-color: white;
    border-width: 5px 1px 1px 1px;
    border-color: #C3C3C0;
    border-top-color: #F67C16;
    border-style: solid;
    background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/block_top_arrow.png");
    background-repeat: no-repeat;
    margin: 20px 0px 20px 0px;

}

div.nav-column {
    div.nav-item {
        margin-top: 5px;
        margin-bottom: 5px;
        >a {
            display: block;
        }

        div.nav-item-content {
            min-height: 64px;
            padding-left: 70px;
            padding-top: 5px;
            background-repeat: no-repeat;

            @media (max-width: 500px) {
                background-size: 25% auto;
                padding-left: 30%;
            }
        }

        div.nav-item-content.nav-item-announcements {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/megaphone.png");
            }
        div.nav-item-content.nav-item-media {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/newspaper.png");
            }
        div.nav-item-content.nav-item-pilot-paper {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/star.png");
            }
        div.nav-item-content.nav-item-contacts {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/email.png");
            }
        div.nav-item-content.nav-item-files-formats {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/floppy.png");
            }
        div.nav-item-content.nav-item-software-tools {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/tools.png");
            }
        div.nav-item-content.nav-item-sample-project-info {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/data.png");
            }
        div.nav-item-content.nav-item-publications {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/star.png");
            }
        div.nav-item-content.nav-item-rss {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/rss_feed.png");
            }
        div.nav-item-content.nav-item-twitter {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/icons/twitter.png");
            }
    }
}
