---
---

body {
    background-color: #EAE9E5;
}

header {

    div.top-banners {
        width: 100%;
        height: 158px;
        div.title-banner {
            background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/body_back.png");
            background-repeat: repeat-x;
            background-color: transparent;
            width: 100%;
            height: 158px;
            position: absolute;
            top: 0px;

            div.title-banner-img {
                background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/header_back.jpg");
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: right top;
                position: absolute;
                top: 0px;
                height: 152px;
                margin-top: 6px;
                width: 100%;
            }
        }
    }
    div.nav-banner {
        width: 100%;
        background-color: #262626;
        margin-bottom: 20px;
    }

    div.top-banner-content {
      margin-top: 15px;

      div.top-banner-inline {
         display: inline-block;
         background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/top_banner_back.png");
      }

      div.top-banner-row {
          display: block;
          padding-top: 10px;
      }

      h2#site-slogan,h3#site-slogan {
         color: #FFF;
         margin: 5px;
      }

      h1#site-title {
        color: #DAA406;
        margin: 5px;
        a {
            color: inherit;
        }
      }

    }

    nav.navbar {
        background: transparent;
        margin-bottom: 0px;
        min-height: 40px;

        .navbar-toggle {
            border-color: #79C7E7;
            margin-top: 4px;
            margin-bottom: 4px;
            padding-top: 8px;
            padding-bottom: 8px;
            .icon-bar {
                background-color: #79C7E7;
            }
        }

        ul.navbar-nav {
            li >a {
                color: #79C7E7;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            li.active a {
                color: #FFF;
                outline: none;
            }
            li {
                a:focus, a:hover {
                    color: #FFF;
                    background-color: transparent;
                }
            }

        }

        form.navbar-form {
            margin-top: 4px;
            margin-bottom: 4px;
        }
        input.form-control {
            height: 32px;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        button.btn {
            height: 32px;
            padding-top: 4px;
            padding-bottom: 4px;
        }

    }

}

div.data-portal-beta {
  float:right;
  background-color: #262626;
  margin-right: -15px;
  color: #DAA406;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-left-radius: 4px;
  span.beta {
      color: #FFF;
  }
}

footer {
  div.footer {
    background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/footer_back.jpg");
    background-size: auto 100%;
    color: #696760;
    font-size: 9.6px;
    padding-top: 4px;
    min-height: 50px;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #C0C0C0;
    p {
        margin-top: 4px;
        margin-bottom: 4px;
    }
  }
}

div.section {
    background-color: white;
    border-width: 5px 1px 1px 1px;
    border-color: #C3C3C0;
    border-top-color: #F67C16;
    border-style: solid;
    background-image: url("/sites/1000genomes.org/themes/custom/one_thousand_genomes/images/block_top_arrow.png");
    background-repeat: no-repeat;
    margin: 20px 0px 20px 0px;

    img {
        max-width: 100%;
    }

}

ul.nav.nav-tabs.nav-tab-tall > li > a {
  @media (min-width: 768px) {
    height: 60px;
  }
}

div.table-group {
  margin-top: 15px;
  ul.pager {
      margin-bottom: 0px;
      margin-top: 0px;
      li a {
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          border-bottom-width: 0px;
          background-color: rgb(249, 249, 249);
      }
  }
}

div.checkbox.disabled label{
    color: graytext;
}

h4.element-loading {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);

}

table >thead > tr.border-top {
    border-top: 2px solid #ddd;
}



table.matrix td.matrix-dot {
    padding: 0px;
}
div.matrix-dot-item {
    text-align: center;
    font-size: 20px;
    padding: 2px;
}
div.matrix-dot-item.matrix-dot-item-gold {
    color: #DAA406;
}
div.matrix-dot-item.matrix-dot-item-blue {
    color: #79C7E7;
}


@media (max-width: 991px) {
table.matrix th.matrix-dot {
    width: 35px;
    height: 140px;
    white-space: nowrap;
}
table.matrix th.matrix-dot > div > div {
    width: 130px;
    border-bottom: 1px solid #ccc;
}


table.matrix th.matrix-dot > div > div >div {
    margin-left: 5px;
    margin-bottom: 12px;
}
table.matrix th.matrix-dot > div {
  -ms-transform:translate(6px, 5px) rotate(270deg);
  -moz-transform:translate(6px, 5px) rotate(270deg);
  -webkit-transform:translate(6px, 5px) rotate(270deg);
  -o-transform:translate(6px, 5px) rotate(270deg);
  transform:translate(6px, 5px) rotate(270deg);
  width: inherit;
}



table.matrix th.matrix-dot.matrix-dot-narrow {
    width: 20px;
}
table.matrix th.matrix-dot.matrix-dot-narrow {
    height: 150px;
    white-space: nowrap;
}
table.matrix th.matrix-dot.matrix-dot-narrow > div {
  -ms-transform:translate(3px, 8px) rotate(270deg);
  -moz-transform:translate(3px, 8px) rotate(270deg);
  -webkit-transform:translate(3px, 8px) rotate(270deg);
  -o-transform:translate(3px, 8px) rotate(270deg);
  transform:translate(3px, 8px) rotate(270deg);
  width: inherit;
}
table.matrix th.matrix-dot.matrix-dot-narrow > div > div >div {
    margin-left: 5px;
    margin-bottom: 4px;
}
}


@media (min-width: 992px) {
table.matrix th.matrix-dot {
    width: 50px;
    height: 110px;
    white-space: nowrap;
}
table.matrix th.matrix-dot > div > div {
    width: 130px;
    border-bottom: 1px solid #ccc;
}


table.matrix th.matrix-dot > div > div >div {
    margin-left: -8px;
    margin-bottom: 12px;
}

table.matrix th.matrix-dot > div {
  -ms-transform:translate(36px, -7px) rotate(315deg);
  -moz-transform:translate(36px, -7px) rotate(315deg);
  -webkit-transform:translate(36px, -7px) rotate(315deg);
  -o-transform:translate(36px, -7px) rotate(315deg);
  transform:translate(36px, -7px) rotate(315deg);
  width: inherit;
}

div.matrix-wrapper {
    padding-right: 90px;
}
table.matrix th.matrix-dot.matrix-dot-narrow {
    width: 30px;
}
table.matrix th.matrix-dot.matrix-dot-narrow {
    height: 115px;
    white-space: nowrap;
}
table.matrix th.matrix-dot.matrix-dot-narrow > div {
  -ms-transform:translate(20px, 0px) rotate(315deg);
  -moz-transform:translate(20px, 0px) rotate(315deg);
  -webkit-transform:translate(20px, 0px) rotate(315deg);
  -o-transform:translate(20px, 0px) rotate(315deg);
  transform:translate(20px, 0px) rotate(315deg);
  width: inherit;
}
table.matrix th.matrix-dot.matrix-dot-narrow > div > div >div {
    margin-left: 0px;
    margin-bottom: 5px;
}
}


@media (min-width: 1200px) {

table.matrix th.matrix-dot {
    width: 60px;
    height: 110px;
    white-space: nowrap;
}
table.matrix th.matrix-dot > div > div {
    width: 130px;
    border-bottom: 1px solid #ccc;
}

table.matrix th.matrix-dot > div > div >div {
    margin-left: -10px;
    margin-bottom: 15px;
}

table.matrix th.matrix-dot > div {
  -ms-transform:translate(43px, -10px) rotate(315deg);
  -moz-transform:translate(43px, -10px) rotate(315deg);
  -webkit-transform:translate(43px, -10px) rotate(315deg);
  -o-transform:translate(43px, -10px) rotate(315deg);
  transform:translate(43px, -10px) rotate(315deg);
  width: inherit;
}


table.matrix th.matrix-dot.matrix-dot-narrow {
    width: 40px;
}
table.matrix th.matrix-dot.matrix-dot-narrow > div {
  -ms-transform:translate(27px, -3px) rotate(315deg);
  -moz-transform:translate(27px, -3px) rotate(315deg);
  -webkit-transform:translate(27px, -3px) rotate(315deg);
  -o-transform:translate(27px, -3px) rotate(315deg);
  transform:translate(27px, -3px) rotate(315deg);
  width: inherit;
}
table.matrix th.matrix-dot.matrix-dot-narrow > div > div >div {
    margin-left: -4px;
    margin-bottom: 9px;
}
}

@media (max-width: 991px) {
  div.matrix-wrapper {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
}


form.form-inline div.checkbox.checkbox-population {
    width: 80px;
    display: inline-block;
 input{
    margin-left: -20px;
    position: absolute;
  }
  label{
    padding-left: 20px;
    display: inline-block;
  }
}

form.form-inline div.checkbox.checkbox-long {
    width: 50%;
    display: inline-block;
 input{
    margin-left: -20px;
    position: absolute;
  }
  label{
    padding-left: 20px;
    display: inline-block;
  }
}
