<ng-container *ngIf="dc">
<h1>{{dc.title}}</h1>

<div *ngIf="description" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
  <div class="panel panel-default">
    <div [innerHtml]="description" class="panel-body"></div>
  </div>
</div>

<div class="col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 col-sm-10 col-sm-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{dc.samples?.count}} samples</h3>
    </div>
    <div class="panel-body">
      <dc-samples [dc]="dc.title"></dc-samples>
    </div>
  </div>
</div>

<div class="col-md-6 col-md-offset-0 col-lg-5 col-sm-10 col-sm-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{dc.populations?.count}} populations</h3>
    </div>
    <div class="panel-body">
      <dc-populations [dc]="dc.title"></dc-populations>
    </div>
  </div>
</div>

</ng-container>

