<button class="btn btn-default center-block" (click)="searchPopulationsExport()">Download the list</button>
<ng-container *ngIf="offset > 0 || hasMore()">
  <button class="btn btn-default page-button pull-left" [ngClass]="{disabled: offset <=0}" (click)="tablePrevious()">&#171; Previous</button>
  <button class="btn btn-default page-button pull-right" [ngClass]="{disabled: !hasMore()}" (click)="tableNext()">Next &#187;</button>
</ng-container>

<table class="table table-striped table-condensed table-hover">
  <thead><tr>
    <th class="text-center">Populations</th>
    <!--<th class="text-center">Description</th>-->
  </tr></thead>
  <tbody>
    <tr *ngFor="let hit of apiHits?.hits">
      <td class="text-center"><a [routerLink]="['/population', hit._source.elasticId]">{{hit._source.description}}</a></td>
      <!--<td class="text-center">{{hit._source.code}}</td>-->
    </tr>
  </tbody>
</table>
