<ul class="nav nav-tabs pull-right data-portal-nav">
<li><a routerLink="sample"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Samples</a></li>
<li><a routerLink="population"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Populations</a></li>
<li><a routerLink="data-collection"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Data collections</a></li>
<li><a routerLink="search"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Search</a></li>
</ul>
<div class="clearfix"></div>
