<div class="panel panel-default" *ngIf="query">
  <div class="panel-heading">
    <button class="btn btn-default download-button" (click)="downloadFileList()"> Download the list</button>
    <h4 class="panel-title text-center">
      {{ fileHits?.total }} matching data file{{fileHits?.total == 1 ? '' : 's' }}
    </h4>
  </div>
  <ul class="list-group">
    <ng-container *ngFor="let hit of fileHits?.hits">
      <a *ngIf="hit._source.url" class="list-group-item" [href]="hit._source.url" [innerHtml]="hit._source.url"></a>
    </ng-container>
  </ul>
</div>
