---
layout: content_page
title: "Media"
permalink: /media/
---

<div class="enclosed">
      
<h2>Project press releases</h2>
  
{% assign sorted_press_release = site.press_release | sort: 'date' %}
{% for press_release in sorted_press_release reversed %}
<h5>{{press_release.date | date: '%A %B %d, %Y' }}</h5>
<p><a href="{{ press_release.link_url }}">{{ press_release.title }}</a></p>
{% endfor %}
</div>
      
<div class="enclosed">
<h2 class="section_title">Media coverage</h2>

{% assign sorted_media = site.media | sort: 'date' %}
{% for media in sorted_media reversed %}
      
<h5>{{ media.publication }}: {{ media.date | date: '%A %B %d, %Y' }}</h5>
<p><a href="{{ media.link_url }}">{{ media.title }}</a></p>
{% endfor %}
</div>
