---
layout: single_section
title: Search
permalink: /search/
foot_meta:
    - <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    - <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.min.js"></script>
    - <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-resource.min.js"></script>
    - <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-sanitize.min.js"></script>
    - <script src="js/search_results.js"></script>
---

{% raw %}
<div ng-app="searchResults" ng-controller="SearchCtrl as SearchCtrl">
<h2>Search results: <span ng-bind="SearchCtrl.searchPhrase"></span></h2>
  <div ng-if="SearchCtrl.siteHits.total">
      <div ng-repeat="hit in SearchCtrl.siteHits.hits" class="nav-item nav-item-xl">
        <a ng-href="{{hit._source.url}}"><h3 ng-bind="hit._source.title"></h3>
        <blockquote><p ng-bind-html="hit.highlight.content.join('&#133')"></p></blockquote></a>
      </div>
  </div>
</div>
{% endraw %}
