---
layout: single_section
title: Search
permalink: /search/
foot_meta:
    - <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    - <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    - <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
    - <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>
    - <script src="js/search_results.js"></script>
head_meta:
    - <base href="/search/">
exclude_from_search: true
---

{% raw %}
<div ng-app="searchResults" ng-controller="SearchCtrl as SearchCtrl">
<h2>Search results: <span ng-bind="SearchCtrl.searchPhrase"></span></h2>
  <div ng-if="SearchCtrl.siteHits.total">
      <div ng-repeat="hit in SearchCtrl.siteHits.hits">
        <a ng-href="{{hit._source.url}}"><h3 ng-bind="hit._source.title"></h3></a>
        <p ng-bind-html="hit.highlight.content.join('&#133')"></p>
      </div>
  </div>
</div>
{% endraw %}
