<footer>
<div class="footer container-fluid">
<div class="row">
<div class="col-md-12">
  <p> &copy; EMBL-EBI 2008-2021</p>
  <p>Site maintained by <a href="http://www.ebi.ac.uk/">EMBL-EBI</a> | <a href="/IGSR_disclaimer">Terms of Use, Privacy and Cookies</a></p>
</div>
<div class="col-xs-6">
  <p class="text">{{ site.description }}</p>
</div>
<div class="col-xs-6">
  <p>To cite IGSR please use our <a href="https://academic.oup.com/nar/article/48/D1/D941/5580898">NAR publication</a></p>
</div>
</div>
</div>
</footer>
