    <div id="site-header" class="clear-block">
	    <div id="header-inner">
        <div id="branding" class="grid-8 clear-block">
                    		  		  <div id="site-name" class="grid-7 omega">
          	<a href="/" title="Home" rel="home">1000 Genomes</a>
		  </div>
					                        <div id="site-slogan" class="grid-8 omega">A Deep Catalog of Human Genetic Variation</div>
                  </div> <!--/#branding -->

                <div id="site-menu" class="grid-12 clear-block">
          <div id="navbar-inner">
            <ul class="links main-menu"><li class="menu-485 first{% if page.tags contains "Home" %} active-trail active{% endif %}"><a href="/home" title="Home"{% if page.tags contains "Home" %} class="active"{% endif %}>Home</a></li>
<li class="menu-486{% if page.tags contains "About" %} active-trail active{% endif %}"><a href="/about" title="About"{% if page.tags contains "About" %} class="active"{% endif %}>About</a></li>
<li class="menu-487{% if page.tags contains "Data" %} active-trail active{% endif %}"><a href="/data" title="Data"{% if page.tags contains "Data" %} class="active"{% endif %}>Data</a></li>
<li class="menu-744{% if page.tags contains "Analysis" %} active-trail active{% endif %}"><a href="/analysis" title="Analysis"{% if page.tags contains "Analysis" %} class="active"{% endif %}>Analysis</a></li>
<li class="menu-489{% if page.tags contains "Participants" %} active-trail active{% endif %}"><a href="/participants" title="Participants"{% if page.tags contains "Participants" %} class="active"{% endif %}>Participants</a></li>
<li class="menu-490{% if page.tags contains "Contact" %} active-trail active{% endif %}"><a href="/contact" title="Contact"{% if page.tags contains "Contact" %} class="active"{% endif %}>Contact</a></li>
<li class="menu-491{% if page.tags contains "Browser" %} active-trail active{% endif %}"><a href="/1000-genomes-browsers" title="The 1000 Genomes Browser"{% if page.tags contains "Browser" %} class="active"{% endif %}>Browser</a></li>
</ul>                      </div> <!--/#navbar-inner -->
        </div> <!--/#site-menu -->
                          <div id="search-box" class="grid-4"><form action="/"  accept-charset="UTF-8" method="post" id="search-theme-form">
<div><div id="search" class="container-inline">
  <div class="form-item" id="edit-search-theme-form-1-wrapper">
 <label for="edit-search-theme-form-1">Search this site: </label>
 <input type="text" maxlength="128" name="search_theme_form" id="edit-search-theme-form-1" size="15" value="" title="Enter the terms you wish to search for." disabled="disabled" class="form-text" />
</div>
<input type="submit" name="op" id="edit-submit" value="Search"  disabled="disabled" class="form-submit" />
<input type="hidden" name="form_build_id" id="form-M6z54kAuPIbC2FHaQTrzs3VaR98MKUgKS2y8D_lDug4" value="form-M6z54kAuPIbC2FHaQTrzs3VaR98MKUgKS2y8D_lDug4"  disabled="disabled" />
<input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  disabled="disabled" />
</div>

</div></form>
</div>
        
      </div> <!--/#header-inner -->

      <div id="site-subheader" class="prefix-1 suffix-1 clear-block">
        
              </div> <!--/#site-subheader -->
	  </div> <!--/#site-header -->
