<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{page.title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/sites/1000genomes.org/themes/custom/one_thousand_genomes/favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" media="all" href="/sites/1000genomes.org/files/css/css_522fd5847094d4665ba3f3dfc6488bd2.css" />
<link type="text/css" rel="stylesheet" media="print" href="/sites/1000genomes.org/files/css/css_75e27dd1acb8d8c1f9811422e29641e1.css" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/1000genomes.org/themes/contrib/zen_ninesixty/ie.css?O" />
<![endif]-->
  <script type="text/javascript" src="/sites/1000genomes.org/files/js/js_7e32c7c7785b1b9a8755b89dcebeaa6c.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/"});
//--><!]]>
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">   var $jq = jQuery.noConflict(); </script>
</head>
