{% capture map_overview %}
##IGSR and the 1000 Genomes Project

![1000 Genomes map](/sites/1000genomes.org/files/images/1000g_map.png?raw=true)

{% endcapture %}
{% include section.html content=map_overview %}

{% capture pinned_announcements %}
<h2>Latest Announcements</h2>

{% assign pinned_announcements = site.categories.announcements | where: "pinned", true %}
<h5>{{pinned_announcements.last.date | date: '%A %B %d, %Y' }}</h5>
<p><a href="{{pinned_announcements.first.url}}"><h2>{{pinned_announcements.first.title}}</h2></a></p>
  
{{pinned_announcements.first.content | markdownify}}
{% endcapture %}
{% include section.html content=pinned_announcements %}
      
{% capture recent_announcements %}
<h2 class="orange">Recent project announcements</h2>
{% assign unpinned_announcements = site.categories.announcements | where: "pinned", false %}
{% for announcement in unpinned_announcements limit:3 %}
<h5>{{announcement.date | date: '%A %B %d, %Y' }}</h5>
<p><a href="{{ announcement.url }}"><h2>{{announcement.title}}</h2></a></p>

{{ announcement.content | markdownify }}
{% endfor %}

<p><a href="/announcements">Complete current and previous announcements</a></p>
<p><a href="/data">Information regarding data access</a></p>
{% endcapture %}
{% include section.html content=recent_announcements %}



{% capture overview %}
## Project Overview

The 1000 Genomes Project is an international collaboration to produce an extensive public catalog of human genetic variation, including SNPs and structural variants, and their haplotype contexts. This resource will support genome-wide association studies and other medical research studies.

The genomes of about 2500 unidentified people from about 25 populations around the world will be sequenced using next-generation sequencing technologies. The results of the study will be freely and publicly accessible to researchers worldwide.

Further information about the project is available in the About tab. Information about downloading, browsing or using the 1000 Genomes data is available in the Data tab.

{% endcapture %}
{% include section_md.html content=overview %}


{% capture media %}
<h2>Recent media coverage</h2>
{% assign sorted_media = site.media | sort: 'date' %}
{% for media in sorted_media reversed limit:3 %}
<h5>{{ media.date | date: '%A %B %d, %Y' }}</h5>
<p><a href="{{ media.link_url }}">{{ media.title }}</a></p>
{% endfor %}
{% endcapture %}
{% include section.html content=media %}

{% capture press_releases %}
<h2>Press releases</h2>
{% assign sorted_press_release = site.press_release | sort: 'date' %}
{% for press_release in sorted_press_release reversed limit:3 %}
<h5>{{press_release.date | date: '%A %B %d, %Y' }}</h5>
<p><a href="{{ press_release.link_url }}">{{ press_release.title }}</a></p>
{% endfor %}
{% endcapture %}
{% include section.html content=press_releases %}
