<div>
  <div es-search="ListCtrl.fileSearchBody" hits-as="ListCtrl.fileHits" error-as="apiFileError" es-type="file"></div>

  <ul class="nav nav-tabs nav-justified">
  <li ng-repeat="dc in ListCtrl.dataCollectionArr" ng-class="{'active': dc === ListCtrl.dataCollection ? true : false}">
        <a href="" ng-click="ListCtrl.setDataCollection(dc)"><div ng-class="{'nav-tab-tall': ListCtrl.dataCollectionArr.length >=4 }">{{dc.dataCollection}}</div></a>
  </li></ul>

  <div class="panel panel-default"><div class="panel-body"> <div class="row">

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><p class="text-center"><a ng-href="{{ListCtrl.dataCollection.dataReusePolicy}}"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Data reuse policy for {{ListCtrl.dataCollection.dataCollection}}</a></p></div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"><p class="text-center"><strong>{{ListCtrl.fileHits.total}}</strong> matching {{ListCtrl.dataType}} data files</p></div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"><button type="button" class="btn btn-default center-block" ng-click="ListCtrl.fileSearchExport()">Download the list</button></div>

  <div class="clearfix"></div>

  <div class="col-md-4 col-lg-3"><div class="row">

  <div class="col-md-12 col-sm-6 col-xs-6 table-group"><div class="panel panel-default">
  <div class="panel-heading">Data types</div>
  <div class="panel-body">
  <div ng-repeat="(dt,dtIsFiltered) in ListCtrl.filterDataTypes" class="checkbox" ng-class="{disabled: ListCtrl.disableDataTyes[dt]}">
    <label><input type="checkbox" ng-model="ListCtrl.filterDataTypes[dt]" ng-change="ListCtrl.selectDataType()" ng-disabled="ListCtrl.disableDataTypes[dt]">{{dt | ucFirst}}</input></label>
  </div></div>
  </div></div>

  <div class="col-md-12 col-sm-6 col-xs-6 table-group"><div class="panel panel-default">
  <div class="panel-heading">Analysis groups</div>
  <div class="panel-body">
  <div ng-repeat="(ag,agIsFiltered) in ListCtrl.filterAnalysisGroups" class="checkbox" ng-class="{disabled: ListCtrl.disableAnalysisGroups[ag]}">
    <label><input type="checkbox" ng-model="ListCtrl.filterAnalysisGroups[ag]" ng-change="ListCtrl.selectAnalysisGroup()" ng-disabled="ListCtrl.disableAnalysisGroups[ag]">{{ag}}</input></label>
  </div></div>
  </div></div>

  </div></div>

  <div class="col-md-8 col-lg-9">
  

  <div class="row"><div class="col-md-12 table-group">
  <uib-pager ng-if="ListCtrl.fileHits.total > ListCtrl.hitsPerPage"
            items-per-page="ListCtrl.hitsPerPage" ng-model="ListCtrl.filePage"
           ng-change="ListCtrl.fileSearch()"   total-items="ListCtrl.fileHits.total"></uib-pager>

  <ng-transclude></ng-transclude>
  </div></div>

  </div>

  </div>
  </div>
  </div>
</div>
