<div es-doc="population" error-as="apiError" es-type="population" es-id="PopCtrl.popCode" is-loading-as="esPopLoading">

  <h1>Population {{PopCtrl.popCode}}</h1>
  <div class="row">
  <h4 class="text-center element-loading" ng-if="esPopLoading"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Loading...</h4>


  <div ng-if="apiError">
     <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1"><div class="alert alert-warning alert-dismissible text-center" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h3>{{apiError.status}}: {{apiError.statusText}}</h3>
    </div></div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-md-offset-3 search-page" search-component="population"></div>
  </div>

  <div ng-show="population">

  <div es-search="PopCtrl.sampleSearchBody" hits-as="samples" es-type="sample" is-loading-as="esSamplesLoading"></div>

  <div class="col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 col-sm-10 col-sm-offset-1"><div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">{{PopCtrl.popCode}} details</h3></div>
  <div class="panel-body">
      <dl class="dl-horizontal">
      <dt>Population:</dt><dd>{{population.name}}</dd>
      <dt>Code:</dt><dd>{{population.code}}</dd>
      <dt>Description:</dt><dd>{{population.description}}</dd>
      <dt>Superpopulation:</dt><dd>{{population.superpopulation.name}}</dd>
      <dt>Superpopulation code:</dt><dd>{{population.superpopulation.code}}</dd>
      </dl>
  </div>
  </div></div>
  <div class="clearfix visible-xs visible-sm"></div>


  <div ng-if="samples.hits.length" class="col-md-6 col-md-offset-0 col-lg-5 col-sm-10 col-sm-offset-1"><div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{samples.total}} samples</h3>
  </div>

  <div class="panel-body">
    <button type="button" class="btn btn-default center-block" ng-click="PopCtrl.sampleExport()">Download the list</button>
  <div class="table-group">
  <uib-pager ng-if="samples.total > PopCtrl.sampleHitsPerPage"
            items-per-page="PopCtrl.sampleHitsPerPage" ng-model="PopCtrl.samplePage"
           ng-change="PopCtrl.sampleSearch()" total-items="samples.total"></uib-pager>
  <h4 class="text-center element-loading" ng-if="esSamplesLoading"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Loading...</h4>
  <table class="table table-striped table-condensed" ng-show="!esSamplesLoading">
      <thead><tr class="border-top">
          <th class="text-center">Sample</th>
          <th class="text-center">Sex</th>
      </tr></thead>
      <tr ng-repeat="sample in samples.hits">
      <td class="text-center"><a ng-href="sample/{{sample._source.name}}">{{sample._source.name}}</a></td>
      <td class="text-center">{{sample._source.sex | ucFirst}}</td>
      </tr>
  </table>
  </div>

  </div>
  </div></div>
  <div class="clearfix"></div>


  <div ng-if="population.dataCollections" class="col-md-12">
  <h2>Data collections for {{PopCtrl.popCode}}</h2>
  <div dc-file-list="{{PopCtrl.popCode}}" dc-tabs="population.dataCollections" es-file-term="populations" file-hits="fileHits">

  <table class="table table-striped table-condensed">
  <thead><tr class="border-top"><th></th><th>File</th><th>Sample</th></tr></thead>
      <tr ng-repeat="file in fileHits.hits">
      <td><a ng-href="{{file._source.url}}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
      <td ng-bind-html="file._source.url | softHyphenUrl"></td>
      <td>
        <a ng-if="file._source.samples.length == 1" ng-href="sample/{{file._source.samples[0]}}">{{file._source.samples[0]}}</a>
        <span ng-if="file._source.samples.length >1">multi-sample</span>
      </td>
      </tr>
  </table>
  
  </div>
  </div>

  </div>
  </div>
</div>
