<div es-doc="sample" error-as="apiError" es-type="sample" es-id="SampleCtrl.name">
  <h1>Sample {{SampleCtrl.name}}</h1>
  <p ng-if="apiError">{{apiError.status}}: {{apiError.statusText}}</p>
  <div ng-show="sample">

  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1"><div class="row">
  <div class="col-md-6"><div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">{{SampleCtrl.name}} details</h3></div>
  <div class="panel-body">
      <dl class="dl-horizontal">
      <div ng-if="sample.sex"><dt>Sex:</dt><dd>{{sample.sex | ucFirst}}</dd></div>
      <div ng-if="sample.biosampleId"><dt>Biosample ID:</dt><dd><a ng-href="http://www.ebi.ac.uk/biosamples/sample/{{sample.biosampleId}}" target="_blank">{{sample.biosampleId}}</a></dd></div>
      <dt>Search Coriell:</dt><dd><a ng-href="https://catalog.coriell.org/0/Sections/Search/Sample_Detail.aspx?Ref={{SampleCtrl.name}}&Product=CC" target="_blank">{{SampleCtrl.name}} <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></dd>
      </dl>
  </div>
  </div></div>

  <div ng-if="sample.population" class="col-md-6"><div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">{{sample.population.code}} population</h3></div>
  <div class="panel-body">
      <dl class="dl-horizontal">
      <dt>Population:</dt><dd><a ng-href="population/{{sample.population.code}}">{{sample.population.name}}</a></dd>
      <dt>Code:</dt><dd>{{sample.population.code}}</dd>
      <dt>Description:</dt><dd>{{sample.population.description}}</dd>
      <dt>Superpopulation:</dt><dd>{{sample.superpopulation.name}}</dd>
      <dt>Superpopulation code:</dt><dd>{{sample.superpopulation.code}}</dd>
      </dl>
  </div>
  </div></div>

  <div ng-if="sample.relatedSample" class="col-md-6"><div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Related samples</h3></div>
  <div class="panel-body">
      <dl class="dl-horizontal">
      <div ng-repeat="relationship in sample.relatedSample"><dt>{{relationship.relationship}}:</dt><dd><a ng-href="sample/{{relationship.relatedSampleName}}">{{relationship.relatedSampleName}}</a></dd></div>
      </dl>
  </div>
  </div></div>

  </div></div>

  <div ng-if="sample.dataCollections" class="col-md-12">
  <h2>Data collections for {{SampleCtrl.name}}</h2>
  <div dc-file-list="{{SampleCtrl.name}}" dc-array="sample.dataCollections" es-file-term="samples" file-hits="fileHits">

  <table class="table table-striped table-condensed">
  <tr><th></th><th>File</th><th>Analysis group</th></tr>
      <tr ng-repeat="file in fileHits.hits">
      <td><a ng-href="{{file._source.url}}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
      <td ng-bind-html="file._source.url | softHyphenUrl"></td>
      <td>{{file._source.analysisGroup}}</td>
      </tr>
  </table>
  
  
  </div>
  </div>

  </div>
</div>
