<div es-search="ListCtrl.searchBody" hits-as="samples" es-type="sample" is-loading-as="esSamplesLoading">
<div es-search="ListCtrl.popSearchBody" hits-as="populations" es-type="population" is-loading-as="esPopulationsLoading"></div>
  <h1>Samples</h1>
  <h4 class="text-center element-loading" ng-if="esSamplesLoading"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Loading...</h4>
  <p ng-if="apiError">{{apiError.status}}: {{apiError.statusText}}</p>
  <div ng-show="samples">

  <form class="form form-inline">
  <button type="button" class="btn btn-default" ng-click="ListCtrl.togglePopPanel()">Filter by population
    <span class="caret"></span>
  <button type="button" class="btn btn-default" ng-click="ListCtrl.toggleAGPanel()">Filter by analysis group
    <span class="caret"></span>
  <button type="button" class="btn btn-default" ng-click="ListCtrl.toggleDCPanel()">Filter by data collection
    <span class="caret"></span>
  </button>
  <button type="button" class="btn btn-default" ng-click="ListCtrl.toggleView()">Toggle table view</button>
  </form>

  <div class="col-md-8 col-md-offset-2">

  <div class="panel panel-default" ng-if="ListCtrl.showPopPanel">
  <div class="panel-heading">Filter by population
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ListCtrl.togglePopPanel()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="panel-body">
    <h4 class="text-center element-loading" ng-if="esPopulationsLoading"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Loading...</h4>
    <form class="form form-inline">
      <div class="checkbox checkbox-population" ng-repeat="population in populations.hits" uib-popover="{{population.fields.name[0]}}" popover-trigger="mouseenter">
        <label><input type="checkbox" ng-model="ListCtrl.filteredPops[population.fields.code[0]]" ng-change="ListCtrl.search()"></input>{{population.fields.code[0]}}</label>
      </div>
    </form>
  </div></div>

  <div class="panel panel-default" ng-if="ListCtrl.showAGPanel">
  <div class="panel-heading">Filter by analysis group
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ListCtrl.toggleAGPanel()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="panel-body">
    <form class="form form-inline">
      <div class="checkbox checkbox-long" ng-repeat="ag in ListCtrl.analysisGroupNames">
        <label><input type="checkbox" ng-model="ListCtrl.filteredAGs[ag[0]]" ng-change="ListCtrl.search()"></input>{{ag[0]}}</label>
      </div>
    </form>
  </div></div>

  <div class="panel panel-default" ng-if="ListCtrl.showDCPanel">
  <div class="panel-heading">Filter by data collection
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ListCtrl.toggleDCPanel()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="panel-body">
    <form class="form form-inline">
      <div class="checkbox checkbox-long" ng-repeat="dc in ListCtrl.dataCollectionNames">
        <label><input type="checkbox" ng-model="ListCtrl.filteredDCs[dc[0]]" ng-change="ListCtrl.search()"></input>{{dc[0]}}</label>
      </div>
    </form>
  </div></div>

  </div>

  <div class="matrix-wrapper">
  <table class="table table-striped table-condensed matrix" ng-show="!esSamplesLoading">
  <thead><tr>
    <th>Sample</th>
    <th>Sex</th>
    <th>Population</th>
    <th ng-if="ListCtrl.viewOption == 1" ng-repeat="dcName in ListCtrl.dataCollectionNames" class="matrix-dot"><div><div><div>{{dcName[1]}}</div></div></div></th>
    <th ng-if="ListCtrl.viewOption == 2" ng-repeat="agName in ListCtrl.analysisGroupNames" class="matrix-dot matrix-dot-narrow"><div><div><div>{{agName[1]}}</div></div></div></th>
  </tr></thead>
  <tr ng-repeat="sample in samples.hits">
    <td><a ng-href="sample/{{sample._source.name}}">{{sample._source.name}}</a></td>
    <td>{{sample._source.sex | ucFirst}}</td>
    <td><a ng-href="population/{{sample._source.population.code}}">{{sample._source.population.code}}</a></td>
    <td ng-if="ListCtrl.viewOption == 1" ng-repeat="dcName in ListCtrl.dataCollectionNames" class="matrix-dot">
        <div class="matrix-dot-item" ng-if="ListCtrl.hasCollection(sample, dcName[0])" uib-popover="{{sample._source.name}}: {{dcName[0]}}" popover-trigger="mouseenter">&#x25cf;</div>
    </td>
    <td ng-if="ListCtrl.viewOption == 2" ng-repeat="agName in ListCtrl.analysisGroupNames" class="matrix-dot matrix-dot-narrow">
        <div class="matrix-dot-item" ng-if="ListCtrl.hasAnalysisGroup(sample, agName[0])" uib-popover="{{sample._source.name}}: {{agName[0]}}" popover-trigger="mouseenter">&#x25cf;</div>
    </td>
  </tr>
  </table>
  </div>

  </div>
</div>
