<form ng-submit="search()">
<div class="input-group">
  <div class="input-group-btn">
    <button type="submit" class="btn btn-default">Go to {{searchType}}</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="searchType='sample'">Go to sample</a></li>
          <li><a href="" ng-click="searchType='population'">Go to population</a></li>
        </ul>
  </div>
  <input type="text" class="form-control" ng-model="inputText" placeholder="e.g. {{examples[searchType]}}">
</div>
</form>
