<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-6"><h1>Data portal search</h1></div>
  <div class="col-md-4 col-sm-3"><ul class="nav nav-pills">
    <li><a href="sample"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Samples home</a></li>
    <li><a href="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a></li>
    </ul></div>
  <div class="clearfix"></div>
  <div class="col-md-6 col-md-offset-3 search-page" search-component=""></div>
</div>
