<div class="panel panel-default" *ngIf="visible">
  <div class="panel-heading">
    Map colour key
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closePanel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="panel-body continent-grid">
    <div class="continent" *ngFor="let group of populationsByContinent">
      <div class="continent-title">{{ group.continent }}</div>
      <ul class="continent-list">
        <li class="continent-item" *ngFor="let pop of group.populations">
          <span
            class="glyphicon glyphicon-stop swatch"
            aria-hidden="true"
            [ngStyle]="{'color': pop._source.superpopulation.display_colour}">
          </span>
          <span class="continent-item-label">{{ pop._source.name }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
