<table class="table table-striped table-condensed">
<thead><tr>
  <th>Population</th>
  <!--<th>Description</th>-->
  <!--<th>Superpopulation</th>-->
  <th>Samples</th>
  <th *ngFor="let dc of dataCollectionList?.hits" class="matrix-dot"><div><div (click)="changeFilter(dc._source.title)">{{dc._source.shortTitle}}</div></div></th>
</tr></thead>
<tbody><tr *ngFor="let hit of populationHits?.hits">
  <td><a *ngIf="hit._source.description" [routerLink]="[hit._source.elasticId]">{{hit._source.description}}</a></td>
  <!--<td>{{ hit._source.description }}</td>-->

  <!--<td *ngIf="hit._source.superpopulation?.code" [popover]="hit._source.superpopulation.name" popoverPlacement="auto top" [popoverOnHover]="true">{{ hit._source.superpopulation?.code }}</td>
  <td *ngIf="!hit._source.superpopulation?.code"></td>
-->
  <td>{{hit._source.samples?.count}}</td>
  <td *ngFor="let dc of dataCollectionList?.hits">
    <div class="matrix-dot" *ngIf="hasDataCollection(hit._source, dc._source)" [popover]="dc._source.title" [popoverTitle]="hit._source.name" popoverPlacement="auto top" [popoverOnHover]="true">&#x25cf;</div>
  </td>
<tr></tbody>
</table>
