<!--
IGSR-136 Scrollbar at the top of Technology view of Population data portal
Author: ranjits@ebi.ac.uk
Date: 26 June 2021
Changes: 
	Set the style of container div element
	Set the effects to the division named content
	To place the scroll-bar on the top of the div element, rotate the division content (by default in bottom) by 180.
-->
<!-- START of IGSR-136 -->
<style>
.Container {
  width: 110%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 60px;	
}

.Content {
  width:300px;
}

.Flipped, .Flipped .Content {
  transform: rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
</style>
<div class="Container Flipped">
<div class="Content">
<!-- END of IGSR-136 -->
	
<table class="table table-striped table-condensed">
<thead><tr>
  <th>Population</th>
	<th>Samples</th>
  <!--<th>Description</th>-->
  <ng-container *ngFor="let ag of analysisGroupList?.hits">
    <th *ngIf="ag._source.displayOrder" class="matrix-dot"><div><div (click)="changeFilter(ag._source.title)">{{ag._source.shortTitle}}</div></div></th>
  </ng-container>
</tr></thead>
<tbody><tr *ngFor="let hit of populationHits?.hits">
  <td><a *ngIf="hit._source.description" [routerLink]="[hit._source.elasticId]">{{hit._source.description}}</a></td>
  <!--<td>{{ hit._source.description }}</td>-->
	<td>{{hit._source.samples?.count}}</td>
  <ng-container *ngFor="let ag of analysisGroupList?.hits">
    <td *ngIf="ag._source.displayOrder">
      <div class="matrix-dot" *ngIf="hasAnalysisGroup(hit, ag._source)" [popover]="ag._source.title" [popoverTitle]="hit._source.name" popoverPlacement="auto top" [popoverOnHover]="true">&#x25cf;</div>
    </td>
  </ng-container>
<tr></tbody>
</table>
<!-- START of IGSR-136 -->
</div>
</div>	
<!-- END of IGSR-136 -->
