<div class="panel panel-default" *ngIf="visible">
  <div class="panel-heading">
    Filter by population
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closePanel()">
       <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="panel-body">
    <div class="form">
      <div class="checkbox" *ngFor="let pop of popHits?.hits">
        <label *ngIf="pop._source.elasticId" [popover]="pop._source.superpopulation.name" [popoverOnHover]="true" popoverPlacement="auto top">
        <!--<label *ngIf="pop._source.elasticId">-->
             <input type="checkbox" [ngModel]="filters[pop._source.elasticId]" (ngModelChange)="changeFilter(pop._source.elasticId, $event)">
             {{pop._source.description}}
        </label>
      </div>
    </div>
</div></div>
