---
layout: multi_section
title: "Media"
permalink: /media/
---

{% capture press_releases %}

## Project press releases
  
{% assign sorted_press_release = site.press_release | sort: 'date' %}
{% for press_release in sorted_press_release reversed %}
##### {{press_release.date | date: '%A %B %d, %Y' }}

[{{ press_release.title }}]({{ press_release.link_url }})
{% endfor %}
{% endcapture %}
{% include section_md.html content=press_releases %}

{% capture media %}
## Media coverage ##

{% assign sorted_media = site.media | sort: 'date' %}
{% for media in sorted_media reversed %}
      
##### {{ media.publication }}: {{ media.date | date: '%A %B %d, %Y' }}
[{{ media.title }}]({{ media.link_url }})
{% endfor %}
{% endcapture %}
{% include section_md.html content=media %}
