{% include head.html %}

<body class="not-front not-logged-in node-type-announcement one-sidebar sidebar-right page-announcements-1000-genomes-data-amazon-web-service-cloud-2012-03-29 section-announcements">
{% include base_header.html %}

  <div id="page" class="container-16 clear-block">

    <a name="navigation-top" id="navigation-top"></a>
    
{% include header.html %}

    <div id="main" class="column grid-13 ">
  	  <div id="content">
  	    <div id="content-inner">

          <div id="main-content" class="region clear-block">
<div id="node-586" class="node node-type-announcement"><div class="node-inner onethousand_clean">

      <h2 class="title">
      <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
    </h2>


  <div class="content">
    <div class="field field-type-date field-field-announcement-date">
    <div class="field-items">
            <div class="field-item odd">
                    <span class="date-display-single">{{page.date}}</span>        </div>
        </div>
</div>
<div class="field field-type-text field-field-announcement-text">
    <div class="field-items">
            <div class="field-item odd">

          {{ content }}
        </div>
        </div>
</div>
  </div>

</div></div> <!-- /node-inner, /node -->          </div> <!-- /#main-content -->
		</div> <!-- // #content-inner -->
	  </div> <!-- //#content -->
	</div> <!-- //end #main -->

        <div id="sidebar-right" class="column sidebar region grid-3">
	    <div id="sidebar-right-inner">
          <div id="block-user-1" class="block block-user region-odd odd region-count-1 count-1"><div class="block-inner">

      <h2 class="title">Navigation</h2>

  <div class="content">
    <ul class="menu"><li class="leaf first last"><a href="/faq">Frequently Asked Questions</a></li>
</ul>  </div>

  
</div></div> <!-- /block-inner, /block -->
      </div>
    </div> <!--//end #sidebar-right-inner -->


  </div> <!-- /#page -->

    <div id="footer" class="prefix-1 suffix-1">
      
              <div id="footer-message" class="grid-16">
          &copy; 1000 Genomes 2008-2012
<p>Site maintained by the External Services team at <a href="http://www.ebi.ac.uk/">EMBL-EBI</a> | <a href="http://www.ebi.ac.uk/Information/termsofuse.html">Terms of Use</a> | <a href="http://www.ebi.ac.uk/Information/privacy.html">Privacy</a> | <a href="http://www.ebi.ac.uk/Information/e-directive.html">Cookies</a></p>        </div>
          </div> <!-- /#footer -->


</body>
</html>
