---
layout: single_section
---

<h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a> </h2>

{% if page.faq_tags %}
<ul class="breadcrumb">
{% for tag in page.faq_tags %}
{% assign faq_category = site.data['faq_category_map'][tag] %}
<li><a href="{{faq_category.url}}" title="">{{faq_category.title}}</a></li>
{% endfor %}
</ul>
{% endif %}


{{ content }}

<h2>Related questions:</h2>
<ul>
{% for faq_related_stub in page.faq_related %}
{% assign faq_related = site.data['faq_map'][faq_related_stub] %}
<li><a href="{{faq_related.url}}">{{faq_related.title}}</a></li>
{% endfor %}
</ul>
