---
layout: multi_section
---
    
{% for faq in site.faq %}{% if faq.faq_tags contains page.stub_name %}
{% capture faq_content %}
<h2 class="title">
      <a href="{{ faq.url }}" title="{{ faq.title }}">{{ faq.title }}</a>
    </h2>
  
  
<ul>
{% for tag in faq.faq_tags %}
{% assign faq_category = site.data['faq_category_map'][tag] %}
<li><a href="{{faq_category.url}}" title="">{{faq_category.title}}</a></li>
{% endfor %}
</ul>

<h2>Answer:</h2>

    {{ faq.content | markdownify }}

<h2>Related questions:</h2>
<ul>
{% for faq_related_stub in faq.faq_related %}
{% assign faq_related = site.data['faq_map'][faq_related_stub] %}
<li><a href="{{faq_related.url}}">{{faq_related.title}}</a></li>
{% endfor %}
</ul>
{% endcapture %}{% include section.html content=faq_content %}{% endif %}{% endfor %}
