---
layout: page
---

<div class="col-md-10">
<div class="row">

{{ content }}

</div>
</div>

<div class="col-md-2">
  <h2>Navigation</h2>
  <p><a href="/faq">Frequently Asked Questions</a></p>


{% if page.nav_buttons.size > 0 %}
  <h2>Links</h2>
<ul>
{% for nav_button in page.nav_buttons %}
{% if nav_button == 'announcements' %}<li><a href="/announcements">All Project announcements</a></li>{% endif %}
{% if nav_button == 'media' %}<li><a href="/media">Media Archive</a></li>{% endif %}
{% if nav_button == 'pilot_paper' %}<li><a href="/sites/1000genomes.org/files/docs/nature09534.pdf">Download the 1000 Genomes Pilot Paper</a></li>{% endif %}
{% if nav_button == 'contacts' %}<li><a href="/contact">Project Contacts</a></li>{% endif %}
{% if nav_button == 'files_formats' %}<li><a href="/formats">Files and formats</a></li>{% endif %}
{% if nav_button == 'software_tools' %}<li><a href="/tools">Software tools</a></li>{% endif %}
{% if nav_button == 'sample_project_info' %}<li><a href="/about">Sample and Project Information</a></li>{% endif %}
{% if nav_button == 'publications' %}<li><a href="/1000-genomes-project-publications">Find the 1000 Genomes Project Publications></a></li>{% endif %}
{% if nav_button == 'rss' %}<li><a href="/announcements/rss.xml">RSS Feed></a></li>{% endif %}
{% if nav_button == 'twitter' %}<li><a href="http://twitter.com/1000genomes">Twitter></a></li>{% endif %}
{% endfor %}
</ul>
{% endif %}
</div>

