---
layout: page
---

<div class="col-md-3 col-md-push-9">
  <h2>Links</h2>
<div class="row"><div class="col-md-12 col-sm-5 col-xs-5">
  <p><a href="/announcements">Announcements</a></p>
  <p> <a href="/sample_collection_principles">IGSR Sample Collection Principles</a></p>
  <p><a href="/1000-genomes-project-publications">1000 Genomes Project Publications</a></p>
</div><div class="col-md-12 col-sm-3 col-xs-3">
  <p><a href="/formats">File formats</a></p>
  <p><a href="/tools">Software tools</a></p>
</div><div class="col-md-12 col-sm-3 col-xs-3">
  <p><a href="/data#download">Download data</a></p>
  <p><a href="https://goo.gl/forms/9nCiGoj2BMR3fjKZ2">User survey</a></p>
  <p><a href="http://twitter.com/1000genomes">Twitter</a></p>
</div></div>

</div>


<div class="col-md-9 col-md-pull-3">
<div class="row">

{{ content }}

</div>
</div>

