<!--
Experimenting with layout and tidying banner
Original Author: susanfairley (content branch)
Changes to test branch: ranjits@ebi.ac.uk
Date: 19 April 2021
Changes: replace <div class="container"> with <div class="container-fluid">
--> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

{% include head.html %}

<body role="document">

    {% include header.html %}

<!--<div class="container">-->
<div class="container-fluid">
    {{ content }}
</div>

      
    {% include footer.html %}


</body>

{% for foot_meta in page.foot_meta %}
{{ foot_meta }}{% endfor %}

</html>
