<h1>Samples</h1>
<div class="form form-inline">
<button class="btn btn-default" (click)="dataCollectionView()"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Data collection view</button>
<button class="btn btn-default" (click)="technologyView()"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Technology view</button>
</div>
<br>
<div class="form form-inline">
<button class="btn btn-default" (click)="popFilterVisible = !popFilterVisible; agFilterVisible = false; dcFilterVisible = false;">Filter by population <span class="caret"></span></button>
<button class="btn btn-default" (click)="agFilterVisible = !agFilterVisible; popFilterVisible = false; dcFilterVisible = false;">Filter by technology <span class="caret"></span></button>
<button class="btn btn-default" (click)="dcFilterVisible = !dcFilterVisible; popFilterVisible = false; agFilterVisible = false;">Filter by data collection <span class="caret"></span></button>
<button class="btn btn-default" (click)="searchExport()"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download the list</button>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <population-filter [(visible)]="popFilterVisible" [filters]="popFilters" (filtersChange)="onPopFiltersChange($event)"></population-filter>
    <analysis-group-filter [(visible)]="agFilterVisible" [filters]="agFilters" (filtersChange)="onAgFiltersChange($event)"></analysis-group-filter>
    <data-collection-filter [(visible)]="dcFilterVisible" [filters]="dcFilters" (filtersChange)="onDcFiltersChange($event)"></data-collection-filter>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1" *ngIf="filterTokens.length">
    <h3 class="current-filters">
      <button class="btn btn-link btn-xs"
        [popover]="'Build a custom filtration expression: 1. Add chips from the drop-downs in the desired order, 2. Click chips to select them, Group/Ungroup to add or remove parentheses around contiguous chips, Not to negate the selected chip, toggle AND/OR operators between chips by clicking them.'"
        [popoverOnHover]="true" popoverPlacement="auto top">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </button>
      Filters:
    </h3>
    <span class="group-controls">
      <button class="btn btn-default btn-xs group-control-btn" [ngClass]="{disabled: !canGroupSelection()}" (click)="groupSelection()"
        [popover]="'Select contiguous chips, then click here to group them'" [popoverOnHover]="true" popoverPlacement="auto top">Group</button>
      <button class="btn btn-default btn-xs group-control-btn" [ngClass]="{disabled: !canUngroupSelection()}" (click)="ungroupSelection()"
        [popover]="'Select chips inside a group, then click here to ungroup them'" [popoverOnHover]="true" popoverPlacement="auto top">Ungroup</button>
      <button class="btn btn-default btn-xs group-control-btn" [ngClass]="{disabled: !canNegateSelection()}" (click)="toggleNegationForSelection()"
        [popover]="'Select chip(s), then click here to negate them'" [popoverOnHover]="true" popoverPlacement="auto top">NOT</button>
    </span>
    <ng-container *ngFor="let token of filterTokens; let i = index">
      <ng-container *ngFor="let _ of parenRange(groupStartCount(token))">
        <span class="group-paren">(</span>
      </ng-container>
      <button class="btn"
        [ngClass]="{'btn-primary': token.type === 'pop', 'btn-warning': token.type === 'dc', 'btn-info': token.type === 'ag'}"
        [class.filter-selected]="isTokenSelected(token)"
        (click)="toggleTokenSelected(token)"
        [popover]="'Click chip body to select, click x to deselect'" [popoverOnHover]="true" popoverPlacement="auto top">
        <span class="label label-default chip-negation" *ngIf="token.negated">!</span>
        <ng-container [ngSwitch]="token.type">
          <ng-container *ngSwitchCase="'pop'">{{token.key | i18nSelect: popElasticIdDescriptionMap}}</ng-container>
          <ng-container *ngSwitchCase="'dc'">{{token.key | i18nSelect: dcTitleMap}}</ng-container>
          <ng-container *ngSwitchCase="'ag'">{{token.key | i18nSelect: agTitleMap}}</ng-container>
        </ng-container>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="removeTokenFromFilters(token); $event.stopPropagation()"></span>
      </button>
      <ng-container *ngFor="let _ of parenRange(groupEndCount(token))">
        <span class="group-paren">)</span>
      </ng-container>
      <button *ngIf="i < filterOperators.length" class="btn btn-default operator-chip" (click)="toggleChainOperator(i)"
        [popover]="'Click to toggle operator between AND/OR'" [popoverOnHover]="true" popoverPlacement="auto top">
        {{filterOperators[i]}}
      </button>
    </ng-container>
  </div>
</div>

<div class="table-container">
<div class="table-buttons">
  <h4 *ngIf="totalHits > 0">Showing {{displayStart}} to {{displayStop}} of {{totalHits}} samples</h4>
  <h4 *ngIf="totalHits == 0">No samples match filters</h4>
  <button class="btn btn-default page-button pull-left" [ngClass]="{disabled: offset <=0}" (click)="tablePrevious()">&#171; Previous</button>
  <button class="btn btn-default page-button pull-left" [ngClass]="{disabled: !hasMore()}" (click)="tableNext()">Next &#187;</button>
</div>
<sample-data-collection-table *ngIf="viewOption == 1" [sampleHits]="sampleHits" [filters]="dcFilters" (filtersChange)="onDcFiltersChange($event)"></sample-data-collection-table>
<sample-analysis-group-table *ngIf="viewOption == 2" [sampleHits]="sampleHits" [filters]="agFilters" (filtersChange)="onAgFiltersChange($event)"></sample-analysis-group-table>
</div>
<button class="btn btn-default page-button pull-left" [ngClass]="{disabled: offset <=0}" (click)="tablePrevious()">&#171; Previous</button>
<button class="btn btn-default page-button pull-right" [ngClass]="{disabled: !hasMore()}" (click)="tableNext()">Next &#187;</button>
